---
http_interactions:
- request:
    method: post
    uri: https://www.opentable.com/restref/api/availability
    body:
      encoding: UTF-8
      string: '{"rid":1779,"dateTime":"2021-05-10T19:00","partySize":2}'
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJvdGNmcCI6IjQ0MTM2ZmEzNTViMzY3OGExMTQ2YWQxNmY3ZTg2NDllOTRmYjRmYzIxZmU3N2U4MzEwYzA2MGY2MWNhYWZmOGEiLCJpYXQiOjE2MjA2ODA2OTAsImV4cCI6MTYyMDY5MTQ5MH0.ZnhtxVAMiLtW4zJCMa3OCqeRQcmizgFgbKyhpF4uFrU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Ot-Requestid:
      - 683938fc-21d5-42f9-a655-fd83e0b328f1
      Ot-Anonymousid:
      - C8D02EC1-4F85-4749-9B77-D7D2AAB62B41
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"584-+xbIA39+GNeEy/rZ04fEasLXwf0--gzip"
    body:
      encoding: UTF-8
      string: '{"availability":{"2021-05-10":{"allNoTimesReasons":["NoTimesExist"],"reasonCode":"NoTimesExist","standardMessageCode":"noTimes","minPartySize":2,"maxPartySize":6,"maxDaysInAdvance":365,"sameDayCutoff":null,"earlyCutoff":null,"allowNextAvailable":true,"hasOffers":false,"offerIds":[],"timeSlots":[],"date":"2021-05-10","hasExperiences":false},"2021-05-11":{"allNoTimesReasons":["NoTimesExist"],"reasonCode":"NoTimesExist","standardMessageCode":"noTimes","minPartySize":2,"maxPartySize":6,"maxDaysInAdvance":365,"sameDayCutoff":null,"earlyCutoff":null,"allowNextAvailable":true,"hasOffers":false,"offerIds":[],"timeSlots":[],"date":"2021-05-11","hasExperiences":false},"2021-05-12":{"allNoTimesReasons":["NoTimesExist"],"reasonCode":"NoTimesExist","standardMessageCode":"noTimes","minPartySize":2,"maxPartySize":6,"maxDaysInAdvance":365,"sameDayCutoff":null,"earlyCutoff":null,"allowNextAvailable":true,"hasOffers":false,"offerIds":[],"timeSlots":[],"date":"2021-05-12","hasExperiences":false},"2021-05-13":{"allNoTimesReasons":["NoTimesExist"],"reasonCode":"NoTimesExist","standardMessageCode":"noTimes","minPartySize":2,"maxPartySize":6,"maxDaysInAdvance":365,"sameDayCutoff":null,"earlyCutoff":null,"allowNextAvailable":true,"hasOffers":false,"offerIds":[],"timeSlots":[],"date":"2021-05-13","hasExperiences":false},"ticketedExperiences":{},"waitlistStatus":{"waitlistAvailable":false}},"blockedDayMessages":[]}'
  recorded_at: Mon, 10 May 2021 22:59:15 GMT
recorded_with: VCR 6.0.0
