---
http_interactions:
- request:
    method: post
    uri: https://www.opentable.com/restref/api/availability
    body:
      encoding: UTF-8
      string: '{"rid":1779,"dateTime":"2022-03-17T19:00","partySize":2}'
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJvdGNmcCI6IjQ0MTM2ZmEzNTViMzY3OGExMTQ2YWQxNmY3ZTg2NDllOTRmYjRmYzIxZmU3N2U4MzEwYzA2MGY2MWNhYWZmOGEiLCJpYXQiOjE2MjA2ODA2OTAsImV4cCI6MTYyMDY5MTQ5MH0.ZnhtxVAMiLtW4zJCMa3OCqeRQcmizgFgbKyhpF4uFrU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Ot-Requestid:
      - b6a26f69-f83d-406c-ad48-f2df2d5e0676
      Ot-Anonymousid:
      - A59DA117-A4E9-438F-82A0-41AD62957BB4
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"441f-gD9DPNNPb89Sk7QtV5aO1t3tnwk--gzip"
    body:
      encoding: UTF-8
      string: '{"availability":{"2022-03-17":{"allNoTimesReasons":[],"minPartySize":2,"maxPartySize":6,"maxDaysInAdvance":365,"sameDayCutoff":null,"earlyCutoff":null,"allowNextAvailable":true,"hasOffers":false,"offerIds":[],"timeSlots":[{"hasOffers":false,"offerIds":[],"slotAvailabilityToken":"eyJ2IjoyLCJtIjowLCJwIjowLCJjIjo2LCJzIjowLCJuIjowfQ","time":"5:00
        pm","dateTime":"2022-03-17T17:00","slotHash":3456236479,"offset":-120,"creditCardRequired":false,"tableAttributes":["default"],"type":"standard","bookableExperienceIds":[],"bookableExperiencesBySeating":{},"nonBookableExperienceIds":[],"nonBookableExperiencesBySeating":{},"hasExperiences":false,"isMandatory":false,"isMandatoryBySeating":null},{"hasOffers":false,"offerIds":[],"slotAvailabilityToken":"eyJ2IjoyLCJtIjowLCJwIjowLCJjIjo2LCJzIjowLCJuIjowfQ","time":"5:30
        pm","dateTime":"2022-03-17T17:30","slotHash":926788540,"offset":-90,"creditCardRequired":false,"tableAttributes":["default"],"type":"standard","bookableExperienceIds":[],"bookableExperiencesBySeating":{},"nonBookableExperienceIds":[],"nonBookableExperiencesBySeating":{},"hasExperiences":false,"isMandatory":false,"isMandatoryBySeating":null},{"hasOffers":false,"[...]
